
.normal { margin-left: -40px; } /* detailson belül ne tolja jobbra fölösen az elsőket */
ul, ol { margin-left: -25px; } /* annyira nem kell beljebb a következőt */

li:before {
	font-size: 150%;
}





