

.normal { margin-left: -40px; } /* detailson belül ne tolja jobbra fölösen az elsőket */
ul, ol { margin-left: -25px; } /* annyira nem kell beljebb a következőt */
li { margin-left: 12px; } /* jobbra tolja: ha a parent nem <ul>, akkor ne lógjon ki a DISC a képernyőn balra */

li:before  {
	font-size: 150%;    /* the default unicode bullet size is very small */
	top: 12px;           /* vertical align bullet position relative to list item */
	left: -10px;            /* position the bullet L- R relative to list item */
}






