* {
	font-family: Tahoma, 'Segoe UI Emoji', 'Noto Color Emoji', 'Apple Color Emoji', sans-serif;
	list-style-type: disc;
}

body { background-color: azure }
body.night { background-color: rgb(24, 26, 27) }
body.night { color: ghostwhite }



/* ne mutassa a nyilat: egyik android, másik gép */
details > summary { list-style: none; } 
details summary::-webkit-details-marker { display:none; }

details[open] > summary { background-color: paleGreen; }
details[open] > summary.mainTitle {
	background-color: black;
	color: yellow;
}
details[open] {
	border-bottom: 3px solid black;
	margin-bottom: 8px; /* vonal felett kis hej */
	padding-bottom: 8px; /* vonal alatt kis hej */
	overflow: hidden; /* ha van egy kép, akkor az ne lógjon át az alatta lévő kérdésekre, hanem 'tegye lejjeb a vonalat' */
	/* text-align: left; */
}
.night details[open] { border-bottom: 3px solid gray }

summary {
	color: green;
	cursor: pointer;
	display: inline-block; /* ne legyen div, csak span! -> tehát ne teljes sor, hanem amíg a szöveg tart */
}
.night summary { color: mediumseagreen }

summary.mainTitle {
	font-weight: bold;
	font-size: larger;
	text-align: center;
	color: orange;
	background-color:black; 
	border: 5px solid black;
	display: block; /* div legyen, ne csak span! -> tehát teljes sor, NE csak amíg a szöveg tart */
	/* min-width: 99%; */
	/* left: -10px; */
}
summary.phase {
	/*
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 1px;
	*/
	
	margin-top: 1px;
	margin-bottom: 1px;
	
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	
	/* font-weight: bold; */
	background-color: AliceBlue;
	color: Black;
	border: 2px solid Black;
	
	display: inline-block;
}
summary.status { 
	color: Black;
	background-color: AliceBlue;
	border: 1px solid Black;
	
	display: inline-block;

	padding-left: 2px;
	padding-right: 2px;

}



li { list-style-type:none } /* removes default bullet */
li:before  {
	content:"•";    /* escaped unicode character */
	float: left;
	line-height:0;  /* kills huge line height on resized bullet */
	position:relative;  /* position bullet relative to list item */
}

video{
	border-bottom: 5px solid black;
	background-color: black;
	display: block; 
}

table {
	border-collapse: collapse; /* borderek egybe legyenek */
	/* padding: 2px; */
	/* padding-top: 3px; */
	text-align: center;
}
th, td {
	border: 3px solid black;
	/* border-collapse: collapse; */
	padding: 3px;
	/* padding-top: 3px; */
	vertical-align: middle;
	text-align: center;
}
.night th { border: 3px solid gray }
.night td { border: 3px solid gray }
th { background: Silver }
.night th { background: darkslategray }

ul, ol { 
	margin-top: 0; /* fölötte ne legyen hej */
	margin-bottom: 0; /* alatta ne legyen hej */
}

.mirror {
	display:inline-block;
	transform: scale(-1,1);
}

.ORANGE { 
	border: Black 1px solid; 
	padding-left: 3px; 
	padding-right: 3px; 
	background-color: orange;
}
.plus { 
	padding-left: 2px; 
	padding-right: 2px; 
	background-color: green;
	color: white;
	font-weight: bold;
}
.minus { 
	padding-left: 3px; 
	padding-right: 3px; 
	background-color: red;
	color: white;
	font-weight: bold;
}
.fsMini { font-size: 80% }
.bgGrey { background-color: gainsboro }

.bgBlue { background-color: aqua }
.night .bgBlue { background-color: blue }
.bgGreen { background-color: lime }
.night .bgGreen { background-color: darkgreen }
.bgPink { background-color: pink }
.night .bgPink { background-color: deeppink }
.bgYellow { background-color: yellow }
.night .bgYellow { background-color: saddlebrown }

.WHITE { 
	border: Black 1px solid; 
	padding-left: 1px; 
	padding-right: 1px; 
	/* background-color: White; */
}
.night .WHITE { border: white 1px solid }

/**/

/*tárgyak linkje*/
.page { color: blue }
.night .page { color: cornflowerblue }

/*select jegy*/
.fontBlackWhite { color: black } 
.fontBlackWhite.active { 
	color: blue;
	font-weight: bolder;
} 
.night .fontBlackWhite { color: white }
.night .fontBlackWhite.active { 
	color: aqua;
	font-weight: bolder;
} 

/*midQ*/
.midQ { color: blue }
.midQ.fontPlumPurple { color: purple } /* másik tárgy */
.midQ:hover { color: green }
.night .midQ { color: aqua }
.night .midQ.fontPlumPurple { color: plum }
.night .midQ:hover { color: green }

/**/
.fontBlackCrimson { color: black }
.night .fontBlackCrimson { color: crimson }

/**/
.borderBlackWhite { border-color: black }
.night .borderBlackWhite { border-color: white }

/*klikk ➜ mennyi ideje csináltam a Q-t*/
.bgGrey { background-color: grey }
.bgYellowGold { background-color: yellow }
.night .bgYellowGold { background-color: gold }

/*tooltip*/ /*tételválasztás*/ /*questek statusa*/ /*midQ-DIV*/ /*..saving..*/
.bgAzureDark { background-color: azure }
.night .bgAzureDark { background-color: rgb(30,30,30) }

/*kerdes: abbr típusú*/
.bgBisqueBrown { background-color: bisque }
.night .bgBisqueBrown { background-color: brown }

/*trueAnswer*/
.bgSpringgreenGreen { background-color: springgreen }
.night .bgSpringgreenGreen { background-color: green }

/*falseAnswer*/
.bgTomatoBrown { background-color: tomato }
.night .bgTomatoBrown { background-color: brown }

/*Answer*/
.bgGoldDarkgoldenrod { background-color: gold }
.night .bgGoldDarkgoldenrod { background-color: darkgoldenrod }

/*selectJegyBGColor*/
.bgWhitesmokeBlack { background-color: whitesmoke }
.night .bgWhitesmokeBlack { background-color: black }


.important { background-color: Lime /*SpringGreen*/ }
.done { background-color: Aqua /*PaleTurquoise < Aqua < aquamarine < DarkTurquoise < deepskyblue < LightSeaGreen < dodgerblue*/ }
.fix { 
	background-color: red;
	color: white;
	font-weight: bold;
}
.miss { background-color: pink }
.lasd { font-variant: small-caps }
/*.lasd { font-style: italic }*/

abbr {
	/*position: relative;*/
	padding-left: 1px; /* a szürke háttér kicsit szélesebb oldalt */
	padding-right: 1px; 
	/*padding-top: 0px; 
	padding-bottom: 0px;*/
	text-decoration: none;
	background-color: gainsboro;
}
.night abbr  {
	background-color: dimgray;
}
/*abbr.test {
	position: relative;
	text-decoration: none;
	padding-left: 1px; 
	padding-right: 1px; 
	padding-top: 0px; 
	padding-bottom: 0px; 
	background-color: #ffffff;
}*/
abbr:hover{
	background-color: Chartreuse
}








