

.normal { margin-left: -40px; } /* detailson belül ne tolja jobbra fölösen az elsőket */
ul, ol { margin-left: -25px; } /* annyira nem kell beljebb a következőt */
li { margin-left: 15px; } /* jobbra tolja: ha a parent nem <ul>, akkor ne lógjon ki a DISC a képernyőn balra */

/*
	.normal { margin-left: -40px; } 
	ul, ol { margin-left: -25px; } 
	li { margin-left: 15px; } 
*/






