
.normal { margin-left: -40px; } /* detailson belül ne tolja jobbra fölösen az elsőket */
ul, ol { margin-left: -25px; } /* annyira nem kell beljebb a következőt */

li:before  {
	content: "•";
	position: absolute; /* ALTERNATÍVA: teljesen kiveszi a flow-ból */
	font-size: 150%;
	top: 12px;
	left: -10px;
}
li {
	position: relative; /* kell hozzá */
	margin-left: 12px; /* jobbra tolja: ha a parent nem <ul>, akkor ne lógjon ki a DISC a képernyőn balra */
}





