
details > summary { list-style: none; } /* ne mutassa a nyilat: egyik android, másik gép */
details summary::-webkit-details-marker { display:none; } /* ne mutassa a nyilat: egyik android, másik gép */

details[open] > summary { background-color: paleGreen; }
details[open] > summary.mainTitle {
	background-color: black;
	color: yellow;
}

.mainTitle {
	font-weight: bold;
	font-size: larger;
	text-align: center;
	color: orange;
	background-color:black; 
	/* border: 5px solid black; */
	/* min-width: 99%; */
	/* left: -10px; */
}
.phase {
	/*
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 1px;
	margin-top: 2px;
	margin-bottom: 2px;
	*/
	font-weight: bold;
	background-color: Gainsboro;
	color: Black;
	border: 2px solid Black;
	
	display: inline-block;
}
.status { 
	color: Black;
	background-color: AliceBlue;
	border: 1px solid Black;
	
	display: inline-block;
	/*
	padding-left: 2px;
	padding-right: 2px;
	*/
}

* {
	font-family: Tahoma;
	list-style-type: disc;
}

summary {
	color: Green;
	cursor: pointer;
	/* display: inline-block; */
}

table {
	 border-collapse: collapse;
	/* padding: 2px; */
	/* padding-top: 3px; */
	text-align: center;
}
th, td {
	border: 3px solid black;
	/* border-collapse: collapse; */
	/* padding: 3px; */
	/* padding-top: 3px; */
}
th { background: Silver }

ul, ol { 
	margin-top: 0; /* fölötte ne legyen hej */
	margin-bottom: 0; /* alatta ne legyen hej */
}
.normal {
	border-bottom: 4px solid black;
	margin-bottom: 10px; /* vonal felett kis hej */
	padding-bottom: 10px; /* vonal alatt kis hej */
	/* overflow: hidden; */
	/* text-align: left; */
}


.WHITE { 
	border: Black 1px solid; 
	padding-left: 1px; 
	padding-right: 1px; 
	background-color: White;
}
.miss { background-color: pink }
.mirror {
	display:inline-block;
	transform: scale(-1,1);
}










