




li { margin-left: 12px; } /* jobbra tolja: ha a parent nem <ul>, akkor ne lógjon ki a DISC a képernyőn balra */

li:before  {
	top: 12px;           /* vertical align bullet position relative to list item */
	left: -10px;            /* position the bullet L- R relative to list item */
}
